<% message = local_assigns[:message] %>
<% next_message = local_assigns[:next_message] %>
<% is_last_of_series = next_message.nil? || next_message.user != message.user %>

<div id="message-<%= message.id %>" data-senderid="<%= message.user.id  %>" class="<%= message.user == current_user ? 'right-message' : 'left-message ' %>">
  <small>
    <% if message.user != current_user && is_last_of_series %>
      <%= image_tag message.user.avatar, class: "avatar" if message.user.avatar.attached? %>
    <% end %>
  <p class="message-date"><%= message.created_at.strftime("%d-%B-%Y à %H:%M:%S") %></p>
  </small>
  <p><%= message.content %></p>
</div>

