<%# user is planner %>
<% if @user_is_planner %>

  <div data-controller = "edit-event">
    <div class="description-title d-flex">
      <h3 class="mt-5 mb-2">Description </h3>
      <!-- Bouton pour modifier la description -->
      <a href="" data-action = "click->edit-event#editField"><i class="fa-solid fa-pen edit-description"></i></a>
    </div>

    <!-- Formulaire de modification (initialement caché) -->
    <%= form_for @event, url: event_path(@event), data: { turbo_method: :patch }, data: { remote: true, edit_event_target: "editForm" }, html: { class: "edit-description-form d-none mb-5" } do |f| %>
      <div class="field">
        <%= f.text_area :description, rows: 4, class: "edit-description-form display:none" %>
      </div>
      <div class="update-btn d-flex justify-content-center">
        <%= f.submit "Mettre à jour la description", class: "validate-btn", data: { turbo_method: :patch } %>
      </div>
    <% end %>

    <div>
      <p class="description" data-edit-event-target = "editField"><%= @event.description %></p>
    </div>
  </div>
<% else %>

  <!-- L'user n'est pas planner -->
  <h3 class="mt-5 mb-2 description">Description </h3>
   <p><%= @event.description %></p>
<% end %>
