


<%# user is planner %>
<% if @user_is_planner %>
  <div class="location d-flex">
    <p class="mb-3">
      <i class="fa-solid fa-location-dot"></i>
      <% if @event.place.present? %>
        <%= @event.place %>
      <% else %>
        Lieu à définir
      <% end %>
    </p>
    <i class="fa-solid fa-pen pt-1 edit-place-button"></i>
  </div>

  <!-- Formulaire de modification (initiallement caché) -->
<%= form_for @event, url: event_path(@event), data: { turbo_method: :patch }, html: { class: "edit-place-form d-none", data: { remote: true } } do |f| %>
  <div class="field">
    <%= f.text_field :place, class: "edit-place-form display:none" %>
  </div>
  <div class="update-btn d-flex justify-content-center">
    <%= f.submit "Mettre à jour le lieux", class: "validate-btn", data: { turbo_method: :patch } %>
  </div>
<% end %>

<% else %>

  <!-- L'user n'est pas planner -->
    <p class="mb-3">
      <i class="fa-solid fa-location-dot"></i>
      <% if @event.place.present? %>
        <%= @event.place %>
      <% else %>
        Lieu à définir
      <% end %>
    </p>
<% end %>
