  <%# affichage des surveys  %>
  <div class="mt-4">
    <% @event.surveys.each do |survey| %>
      <% if !survey.answers.present? %>
        <div class="mb-3 survey-card">
          <%= link_to survey_path(survey), class: "link d-flex justify-content-between" do %>
            <div>
              <p><%= survey.question %></p>
              <p class="text-danger">Sondage à compléter</p>
            </div>
            <div class="text-center chevron">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="mb-3 survey-card">
          <%= link_to survey_path(survey), class: "link d-flex justify-content-between" do %>
              <div>
                <p class="survey-question"><%= survey.question %></p>
                <% if survey.deadline < Date.today %>
                  <p class="survey-infos">Sondage terminé <i class="fa-solid fa-check text-success"></i></p>
                <% elsif survey.deadline > Date.today %>
                  <p class="survey-infos"><i class="fa-solid fa-hourglass-start"></i> Fin du sondage dans <%= pluralize((survey.deadline - Date.today).to_i, "jour") %></p>
                <% else %>
                  <p class="survey-infos"><i class="fa-solid fa-hourglass-half"></i> Fin du sondage aujourd'hui</p>
                <% end %>
              </div>
              <div class="text-center chevron">
                <i class="fa-solid fa-chevron-right"></i>
              </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>

<%# affichage des listes %>
   <% @event.todo_lists.each do |todo| %>
  <%= link_to todo_list_path(todo), class: "link" do %>
    <div class="mb-3 survey-card">
      <%= todo.title %>
    </div>
  <% end %>
<% end %>
