<%= link_to event_path(@event) do %>
  <i class="fa-solid fa-circle-chevron-left"></i>
<% end %>


<h2>Nouvelle liste</h2>

<%= simple_form_for [@event, @todo_list] do |f| %>
  <%= f.input :title, label: 'Titre' %>
  <div id="option" data-controller="option">
    <div data-option-target="optionsList">
    </div>
    <%= f.fields_for :options do |a| %>
      <div class="d-flex align-items-start input-spacing">
        <div class="d-flex btn-group input-spacing">
          <%= a.input :option,
            label: false,
            placeholder: "Option",
            as: :string,
            input_html: { data: {target: "option.options"} },
            class: "custom-input-for-option input-spacing"  %>
          <%= link_to "Valider", "",
          class: "validate-btn-small input-spacing",
          data: { action: "click->option#insertOptions" } %>
        </div>
      </div>
    <% end %>
  </div>
  
<div class="d-flex justify-content-center">
  <%= f.submit 'Valider', class: "validate-btn" %>
</div>
<% end %>
