<h1>Nouvelle liste</h1>

<%= simple_form_for [@event, @todo_list] do |f| %>
  <%= f.input :title, label: 'Titre' %>
  <div id="option" data-controller="option">
    <div data-option-target="optionsList">
    </div>
    <%= f.fields_for :options do |a| %>
      <div class="d-flex btn-group">
        <%= a.input :option,
          label: false,
          placeholder: "Option",
          as: :string,
          input_html: { data: {target: "option.options"} }  %>
        <%= link_to "Valider", "",
        class: "validate-btn",
        data: { action: "click->option#insertOptions" } %>
      </div>
    <% end %>
  </div>
  <%= f.submit 'Créer ta liste' %>
<% end %>
