<div class="container-chatroom chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">


  <div class="title-messages sticky-top w-100 text-center text-white mb-3"><h2 class="p-0"><%= @chatroom.name %></h2></div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
    <div class="message-row d-flex mb-4 <%= message.user_id == current_user.id ? 'justify-content-end' : 'justify-content-start' %>"
      data-chatroom-subscription-initials-value="<%= '#{message.user.first_name.first.upcase} #{message.user.last_name.first.upcase}' %>">

        <% if message.user != current_user %>
          <% if message.user.avatar.attached? %>
            <%= image_tag url_for(message.user.avatar), class: "avatar-chatroom mt-2 me-2" if message.user.avatar.attached? %>
          <% else %>
            <div class="avatar avatar-placeholder mt-2 me-2">
              <%= "#{message.user.first_name.first.upcase} #{message.user.last_name.first.upcase}" %>
            </div>
          <% end %>
        <% end %>

      <div class="<%= message.user_id == current_user.id ? 'sender-style' : 'receiver-style' %> position-relative">
        <%= render "messages/message", message: message %>
      </div>
    </div>
    <% end %>

  </div>

  <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex form-message mt-3" } do |f| %>
    <%= f.input :content, as: :string, label: false, placeholder: "Tape ton message ici", wrapper_html: {class: "flex-grow-1 me-3"} %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
