<h2 class="mt-4 mb-5 text-center">NOUVEL EVENEMENT</h2>

<%= simple_form_for @event do |f| %>
  <%= f.input :title, label: "Nom de l'évènement 🎈", as: :string %>
  <%= f.input :description, label: 'Description 🎉', as: :string %>
  <div class="dates" data-controller="dates-pickr">
  <%= f.label :dates, "Dates ✨", class: "form-label" %>
  <input type="text" id="dates" data-dates-pickr-target="dateInput" data-action="change->dates-pickr#setDates" class="form-control">
    <%= f.input :start_at,
      label: 'Date de début',
      as: :string,
      input_html: {
         data: {
          dates_pickr_target:"startDate"
          }},
      as: :hidden,
      label: false %>
    <%= f.input :end_at,
    label: 'Date de fin',
    as: :string,
    input_html:
      { data: {
         dates_pickr_target:"endDate"
         }},
         as: :hidden,
         label: false %>
  </div>
  <%= f.input :place, label: 'Lieu', as: :string %>

  <%= f.input :photo_banner, as: :file, input_html: {class: "form-field"} %>
  
  <div class="d-flex justify-content-center">
    <%= f.submit 'Valider', class: "mt-5 validate-btn w-75" %>
  </div>
<% end %>

<!--<%= render "shared/buttons/validate_btn" %>-->
