<!-- app/views/events/show.html.erb -->
<%= link_to 'Retour à la liste des évènements', root_path %>

<% if @event.photos.attached? %>
  <div class="photos">
    <% @event.photos.each do |photo| %>
      <%= cl_image_tag(photo.key, width: 300, height: 200, crop: :fill) %>
    <% end %>
  </div>
<% else %>
  <p>Aucune image disponible pour cet evenement</p>
<% end %>

<h1><%= @event.title %></h1>

<p><strong>Date de début:</strong> <%= @event.start_at %></p>
<p><strong>Date de fin:</strong> <%= @event.end_at %></p>

<%= link_to 'Ajouter des utilisateurs à cet évènement', new_event_user_event_path(event_id: @event.id) %>

<p><strong>Lieu:</strong> <%= @event.place %></p>

<%= link_to 'Créer un sondage', new_event_survey_path(event_id: @event.id) %>
<%= link_to 'Créer une liste', new_event_todo_list_path(@event) %>

<% @event.surveys.each do |survey| %>
  <p><%= survey.question %> (sondage de <%= survey.user.first_name %>)</p>
  <p>Réponse attendue avant le <%= survey.deadline %></p>
<% end %>

<% @event.todo_lists.each do |todo| %>
    <%= link_to "#{todo.title} (sondage de #{todo.user.first_name})", todo_list_path(todo) %><br>
<% end %>




<p><strong>Description:</strong><br>
<%= @event.description %></p>

<ul>
  <% @user_events.each do |user_event| %>
    <li>
      <strong>Nom :</strong> <%= user_event.user.first_name %>,
      <strong>Planner :</strong> <%= user_event.planner ? 'Oui' : 'Non' %>,
      <strong>Status :</strong> <%= user_event.status %>
    </li>
  <% end %>
</ul>
