<%# photo de l'évènement %>
<% if @event.photo_banner.attached? %>
  <%= cl_image_tag @event.photo_banner.key, class: "card-image img-fluid mt-2", crop: :fill %>
<% else %>
  <div class="card-image d-flex justify-content-center align-items-center mt-2"><span>Pas d'image disponible</span></div>
<% end %>

<%# Titre + Dates %>

<%= render 'modals/edit_dates' %>

<div class="event-infos">
  <h2 class="mt-3"><%= @event.title %></h2>
<%= render "shared/show/edit_date" %>


<%# Participants %>
<%# choix %>
<%= render "shared/show/participants_choices" %>


<%# résultats (nb invités, nb participants, nb intéressés) %>
<%= render "shared/show/participants_results" %>

<%# organisateurs %>
  <% planners = @event.user_events.where(planner: true) %>
  <p class="mb-3"><i class="fa-solid fa-user user-color"></i> Organisé par
    <% planners.each_with_index do |planner, index| %>
      <%= "#{planner.user.first_name}" %><%= index == planners.size - 1 ? '' : ',' %>
    <% end %>
  </p>


<%# lieu %>
<%= render "shared/show/edit_place" %>

<%# bouton de partage de l'évènement %>

<div data-controller="clipboard" class="mb-3" data-clipboard-url-value="<%= event_url_path(@event) %>">
  <button  data-action="click->clipboard#copy" class="btn-share">
    <i class="fa-solid fa-share-nodes"></i> Partager l'évènement
  </button>
  <div class="alert alert-success alert-dismissible fade show d-none" role="alert" data-clipboard-target="notification">
    URL copié avec succès!
    <button type="button" class="btn-close" data-action="click->clipboard#hideAlert"></button>
  </div>
</div>

<!-- Créer nouveaux sondages et listes -->
<%= render 'shared/show/create_surveys_todos' %>



  <%# affichage des surveys et listes  %>
<%= render 'shared/show/surveys_todo_lists' %>


<%# Description %>
<%= render 'shared/show/edit_description' %>


<%# ajout des photos de l'évènement %>
<%= render "shared/show/photos" %>
