<!-- app/views/events/show.html.erb -->
<%= link_to 'Retour à la liste des évènements', root_path %>

<% if @event.photos.attached? %>
  <div class="photos">
    <% @event.photos.each do |photo| %>
      <%= cl_image_tag(photo.key, width: 300, height: 200, crop: :fill) %>
    <% end %>
  </div>
<% else %>
  <p>Aucune image disponible pour cet evenement</p>
<% end %>

<h2><%= @event.title %></h2>

<p><strong>Date de début:</strong> <%= @event.start_at %></p>
<p><strong>Date de fin:</strong> <%= @event.end_at %></p>

<%= link_to 'Ajouter des utilisateurs à cet évènement', new_event_user_event_path(event_id: @event.id) %>

<p><strong>Lieu:</strong> <%= @event.place %></p>
<p><strong>Description:</strong><br>
<%= @event.description %></p>

<ul>
  <% @user_events.each do |user_event| %>
    <li>
      <strong>Nom :</strong> <%= user_event.user.first_name %>,
      <strong>Planner :</strong> <%= user_event.planner ? 'Oui' : 'Non' %>,
      <strong>Status :</strong> <%= user_event.status %>
    </li>
  <% end %>
</ul>
