<h1>Nouveau sondage</h1>

  <%= simple_form_for [@event, @survey] do |f| %>
    <%= f.input :category, label: 'Sujet du sondage', collection: Survey::CATEGORIES %>
    <%= f.input :question, label: 'Question', as: :string %>
    <%= f.input :deadline, label: 'Date limite', as: :string, input_html: { data: { controller: "datepicker-simple" } } %>
    <div id="answers" data-controller="insert-in-answers">
      <div data-insert-in-answers-target="answers">
    </div>
    <%= f.fields_for :answers do |a| %>
      <div class="d-flex btn-group">
        <%= a.input :answer, label: false, placeholder: "Option", as: :string, input_html: { data: {insert_in_answers_target: "input"} }  %>
        <%= link_to "Valider", "", class: "validate-btn", data: { action: "click->insert-in-answers#insertAnswers" } %>
      </div>
    <% end %>
    </div>
    <%= f.submit 'Crée ton évènement' %>
  <% end %>
