<%# btn retour %>
<% event = @survey.event %>
<%= link_to event_path(event) do %>
  <i class="fa-solid fa-circle-chevron-left"></i>
<% end %>

<%# titre %>
<h2 class="mb-5"><%= @survey.question %></h2>

<%# date limite %>
<%= render "shared/show/edit_deadline_survey" %>

<%# à vos votes %>
<% if @survey.deadline >= Date.today %>
  <h3 class="mb-3">A vos votes 📩</h3>
<% else %>
  <p  class="mb-3 title-bold">Sondage terminé <i class="fa-solid fa-check text-success"></i></p>
<% end %>

<%# Affichage de la liste des réponses %>
<div class="items-list">
  <% @survey.answers.each do |answer| %>
    <div data-controller="modal-avatars" class="item-field">
      <div class="item-avatar d-flex">
        <% if current_user.user_answers.exists?(answer_id: answer.id) %>
          <%= link_to answer.content, answer_user_answer_path(answer), class: "items done", data: {turbo_method: :delete} %>
        <% else %>
          <%= link_to answer.content, answer_user_answers_path(answer), class: "items", data: {turbo_method: :post} %>
        <% end %>
      <%# afficher l'avatar (voir pour en mettre pls) %>
        <% if answer.user_answers.first %>
          <div class="d-flex" data-action="click->modal-avatars#display">
            <% if answer.user_answers.first.user.avatar.attached? %>
              <%= image_tag url_for(answer.user_answers.first.user.avatar), class: "avatar" %>
            <% else %>
              <div class="avatar avatar-placeholder">
                <%= "#{answer.user_answers.first.user.first_name.first.upcase} #{answer.user_answers.first.user.last_name.first.upcase}" %>
              </div>
            <% end %>
            <% if answer.user_answers.count > 1 %>
              <div class="avatar avatar-placeholder ms-2"><%= "+ #{answer.user_answers.count-1}" %></div>
            <% else %>
              <div class="avatar ms-2"></div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal_container d-none py-3 pe-5 mb-3" data-modal-avatars-target="modal">
        <span class="close" data-action="click->modal-avatars#hide">&times;</span>
        <ul>
          <% answer.user_answers.each do |user_answer| %>
            <li class="d-flex">
              <% if user_answer.user.avatar.attached? %>
                <%= image_tag url_for(user_answer.user.avatar), class: "avatar mx-2" %>
              <% else %>
                <div class="avatar avatar-placeholder mx-2">
                  <%= "#{user_answer.user.first_name.first.upcase} #{user_answer.user.last_name.first.upcase}" %>
                </div>
              <% end %>
                <div class="py-2"><%= "#{user_answer.user.first_name}  #{user_answer.user.last_name}" %></div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<%# ajouter une option & petit valider %>
<% if @survey.deadline >= Date.today %>
  <%= simple_form_for [@survey, @answer] do |f| %>
    <div class="d-flex input-spacing align-items-start">
      <div class="d-flex btn-group w-100">
        <%= f.input :content,
            label: false,
            placeholder: "Ici pour une idée brillante 🌟",
            as: :string %>
        <%= f.submit 'Ajouter', class: "validate-btn-small btn-submit-option" %>
      </div>
    </div>
<% end %>

<%# valider la modification %>
  <div class="d-flex justify-content-center">
    <%= link_to "Valider", event_path(event), class: "d-flex justify-content-center validate-btn" %>
  </div>
<% end %>
