<div class="container mt-5">
  <h1 class="mb-4">Ajouter des utilisateurs à l'événement <%= @event.title %></h1>

  <%= form_for @user_event, url: { action: :create } do |f| %>
    <div class="mb-3">
      <%= f.label :user_id, "Utilisateurs", class: "form-label" %>
      <% if @users.present? %>
        <%= f.collection_select :user_id, @users, :id, :first_name, { }, class: "form-select" %>
      <% else %>
        <p>Aucun utilisateur disponible</p>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.label :planner, "Planner", class: "form-label" %>
      <%= f.check_box :planner, class: "form-check-input" %>
    </div>

    <%= f.hidden_field :event_id, value: @event.id %>

    <div class="mb-3">
      <%= f.submit "Ajouter Utilisateurs à l'Événement", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to 'Retour aux détails de l\'événement', event_path(@event), class: "btn btn-secondary" %>
</div>
